body {
    width: 100vw;
    background: #ecf0f1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.containerMain {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.container {
    position: relative;
    width: 100%;
    display: flex;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
  }

h1 {
    font-size: 100px;
    color: #d1fcff;
    background: linear-gradient(to left, rgb(0,0,255), rgb(0, 170, 255), rgb(0, 0, 255));
    border-radius: 0 20% 0 20%;
    box-shadow: 0 5px 30px rgba(0,0,0,0.6);
    text-shadow: 5px 0 30px rgba(0,0,0,0.6);
    padding: 10px;
    margin: 10px auto;
}

.buttonContainer {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.button {
    float: left;
    color: rgba(0,0,0,0.65);
    width: 200px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    background: linear-gradient(to right, rgba(0,0,0,0.03), rgba(0,0,0, 0.05), rgba(0,0,0,0.03));
    border: 0;
    border-radius: 10px;
    mix-blend-mode: overlay;
    transition: all 320ms ease-in-out;
}
  
.liner {
    position: absolute;
    height: 40px;
    float: left;
    background: rgb(0, 170, 255);
    width: 4px;
    mix-blend-mode: overlay;
    border-radius: 10px 0 0 10px;
    transition: all 320ms linear;
}
  
.linerActive {
      width: 200px;
      border-radius: 10px;
}
  
.buttonActive {
    float: left;
    color: white;
}
  